.container{
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 100px 0 0 220px;
}
.album-wrapper{   
    margin-bottom: 10px;
    position: relative;
    width: 200px;
    height: 150px;
    border: 2px solid $off-black;
}
.album{
    background: linear-gradient(to top, #000, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    opacity: 0.6;
    height: 150px;
    position: absolute;
    width: 100%;
}
.album-wrapper h1{
    display: inline-block;
    width: 100%;
    font-size: $s-size;
    position: absolute;
    bottom: 0;
    padding: 0 10px 10px;
    text-align: center;
    color: $white;
    box-sizing: border-box;
    z-index: 2;
}
.album-wrapper img{
    width: 100%;
    height: 150px;
}