.menu{
    background-color: $light-grey;
    width: 200px;
    height: 100%;
    border-right: 1px solid $grey;
    box-sizing: border-box;
    position: absolute;
    p{
        font-size: $m-size;
        padding: 5px;
        border-bottom: 1px solid $grey;
        text-align: center;
    }
}

@media (max-width: $desktop-breakpoint) {
    .menu{
        display: none;
    }
}